# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#Backup files
*~

#Latex aux files
*.synctex.gr
*.out
*.log
*.aux
*.pdf

#Beamer aux files
*.nav
*.snm
*.toc
*.vrb
*.synctex.gz

#Executable files
*.exe

#Doxygen output
proyecto/doc/html
proyecto/doc/latex
